*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(150deg, rgb(122, 65, 65), rgb(61, 59, 59) );
    height: 100vh;
    text-align: center;
    color: rgb(13, 63, 107);
    font-family: Arial, Helvetica, sans-serif;

}

.box {
    position: absolute;
    background-color: rgb(247, 247, 247);
    padding: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

input, button {
    height: 30px;
    border-radius: 1px;
    text-align: center;
}

#a {
    color: black;
    font-family: sans-serif;
}
